<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        class="magic-container"
        magic="test"
        class="test"
    >
        <label
            magic="a1"
            class="a1"
        >
            a:
            </label>
            <input
                type="text"
                formControlName="a"
                magic="a"
                class="a"
            />
            <label
                magic="b1"
                class="b1"
            >
                b:
                </label>
                <input
                    type="text"
                    formControlName="b"
                    magic="b"
                    class="b"
                />
                <input
                    type="button"
                    magic="bb"
                    class="bb"
                />
                </div>
                </form>