/*this is a component css*/

.test {
    position: absolute;
}

.a1 {
    position: absolute;
    top: 8px;
    left: 4px;
    height: 9px;
    width: 9px;
}

.a {
    position: absolute;
    top: 8px;
    left: 17px;
    height: 12px;
    width: 61px;
}

.b1 {
    position: absolute;
    top: 28px;
    left: 4px;
    height: 9px;
    width: 9px;
}

.b {
    position: absolute;
    top: 28px;
    left: 17px;
    height: 12px;
    width: 61px;
}

.bb {
    position: absolute;
    top: 87px;
    left: 78px;
    height: 14px;
    width: 33px;
}